.page-item{
    margin-left: 10px;
    margin-right: 10px;
  }
.page-item.active .page-link {
    background: #3f7d6b !important;
    border:  none;
  }

/* Mobile toggle button */
#filterToggleBtn {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

#filterToggleBtn i {
  font-size: 20px;
}